:focus {
  outline: none;
}

body {
margin: 10px;
}

.footer {
  position: fixed;
  padding: 0 10px 0 10px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: gray;
  color: white;
  text-align: center;
}
